<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Donation Services Inc." subTitle="Donate Today!"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/homer2.png"/>
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Give Generously!</h1>
    {{> DonateForm }}
  </div>
</div>

