<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Donation Services Inc." subTitle="Latest Donations"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/homer5.jpg">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Donations to date</h1>
    {{> DonationList }}
  </div>
</div>
