<form action="/authenticate" method="POST">
  <div class="field">
    <label class="label" for="email">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label class="label" for="password">Password</label>
    <input class="input" id="password" type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field is-grouped">
    <button class="button is-link">Log in</button>
  </div>
</form>
