<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Donation Services Inc." subTitle="Please Log In"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="images/homer2.png">
  </div>
  <div class="column">
    <div class="box">
      <h1 class="title">Log in</h1>
      {{> LoginForm }}
    </div>
  </div>
</div>
